<div class="panel form-panel mt-5">
  <h2 class="title form-title mb-5"><%= t("text.resend_confirmation_instructions") %></h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-item">
      <%= f.label :email, class: "form-label" %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control fs-4 py-3" %>
    </div>

    <div class="actions mt-5 text-center">
      <%= f.submit t("text.resend_confirmation_instructions"), class: "btb btn-primary gtn-lg w-75 fs-4 py-2 mb-4" %>
    </div>
  <% end %>

  <hr class="my-4">

  <%= render "devise/shared/links" %>
</div>
