<div class="panel">


  <% if @drills.blank? %>
    <div><%= @user.login_name %>の作成したドリルはありません。
  <% else %>
    <div><%= @user.login_name %>の作成したドリル一覧</div>
    <% @drills.each do |drill| %>
      <div><%= link_to drill.title, drill %></div>
    <% end %>
  <% end %>
</div>

<div class="panel">
  <% if current_user && @user.id == current_user.id %>
    <div class="row">
      <aside class="">
        <section class="user_info">
          <%= image_tag @user.icon_path, size: '120x120', alt: 'icon', class: 'a-user-icon' %>
          <div class="user-name-title"><%= @user.nickname %></div>
          <% if @user == current_user ||  Rails.env.development? %>
            <div><%= @user.email %></div>
          <% end %>
        </section>
      </aside>

      <% unless @problem_user_results.empty? %>
        <table>
          <tr>
            <th>問題名</th>
            <th>問題文</th>
            <th>正答率</th>
            <th>正解回数</th>
            <th>提出回数</th>
            <th>閲覧回数</th>
          </tr>
        <% @user.problems.each_with_index do |problem, i| %>
          <% relation = @problem_user_results[i] %>
          <tr>
            <td class="text-left"><%= link_to problem.title, problem %></td>
            <td class="text-left"><%= link_to problem.statement[0,32], problem %></td>
            <td ><%= (rate = relation.correct_answer_rate) ? "#{rate}%" : "-" %></td>
            <td ><%= relation.number_of_correct_answers %></td>
            <td ><%= relation.number_of_submissions %></td>
            <td ><%= relation.number_of_views %></td>
          </tr>
        <% end %>
        </table>
      <% end %>
    </div>
  <% end %>
</div>
