
<div class="panel form-panel">
  <h2 class="title form-title"><%= t("word.password_reset") %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-item">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-item--input" %>
    </div>

    <div class="actions form-action-item">
      <%= f.submit "リセットのメールを送る", class: "form-action-btn" %>
    </div>
  <% end %>

  <div class="link-boxes">
    <%= render "devise/shared/links" %>
  </div>
</div>
