<div class="row">
  <div class="">
    <%= form_with(model: drill, local: true) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :guide %>
      <%= f.text_area :guide, class: 'form-control' %>

      <%= f.submit "編集する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
