<h1 class="page-title">ドリル一覧</h1>

<% if current_user %>
  <%= link_to 'ドリルを作成する', new_drill_path, class: "btn-std" %><br>
<% end %>

<% if false %>
  <% drill = @drills.first %>
  <div class="drills">
    <div class="drill-title"><%= link_to drill.title, drill, class: "drill-title" %></div>
    <div class="drill"><%= drill.problems.size %>問</div>
    <div class="problem-count"><%= link_to "#{drill.problems.count}問", drill, class: "problem-count" %></div>
    <div class="drill-view"><%= drill.number_of_views %>回</div>
    <div class="drill-view"><%= drill.impressions_count %>回</div>
    <%= image_tag drill.user.icon.to_s, size: '120x120', alt: 'icon', class: 'a-user-icon' %>
    <div><%= link_to drill.user, drill.user, class: "drill-user" %></div>
  </div>
<% end %>

<% if @drills.blank? %>
  <%= "ドリルが取得できませんでした。お困りでしたら、お問い合わせ下さい。" %>
  <% if Rails.env.development? %><br>
    【原因】(開発環境のみ表示):
    <% if @drills.nil?  %><%= "@drillsがnil"  %>
    <% elsif @drills.size == 0 %><%= "@drills.sizeが0" %>
    <% else %><%= "不明: @drillsがnilでも、@drills.sizeが0でもない" %><% end %>
  <% end %>
<% else %>
  <div class="drills">
    <% @drills.each do |drill| %>
      <%= link_to drill, class: 'index-drill' do %>
        <div class="index-drill-title"><%= drill.title  %></div>
        <div class="drill-user">
          <%= image_tag drill.user.icon_path, size: '32x32', alt: 'icon', class: 'a-user-icon' %>
          <div class="">
            <%= drill.user %>
          </div>
        </div>
        <div class="problem-count">問題数<%= drill.problems.size %>問</div>
        <div class="stats">
          <div class="stat">閲覧数: <%= drill.number_of_views %>回</div>
          <div class="stat">インプレッション: <%= drill.impressions_count %>回</div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>
