<h1>ドリル：<%= @drill.title %></h1>
<div><%= @drill.guide %></div>

<div>
  このドリルの問題数:
  <%= @drill.problems.count %>
</div>

<button>仮: 順番に全問を解く</button>
<%= link_to "順番に全問を解く", solve_path %>
<%= link_to "ランダムに解く", "/solve/1?rand=true" %>

<%= form_with url: "/solve/#{@drill.id}", method: "GET" do %>
  <input type="hidden" name="part" value="bass">
  <input type="text" name="members">
  <input type="submit">
<% end %>

<form action="/solve/1" method="GET">
  <input type="hidden" name="part" value="bass">
  <input type="text" name="members">
  <input type="submit">
</form>

<% if Rails.env.development? %>
  <div style="font-size: 8">
    <%= link_to "編集する", edit_drill_path(@drill) %>
  </div>
<% end %>
