<div class="panel grid">
  <div class="title-panel">
    <div class="drill-id">Drill ID: <%= @drill.id %> </div>
    <h1 class="drill-title"><%= @drill.title %></h1>
  </div>
  <div class="drill-guide"><%= @drill.guide %></div>
  <%= image_tag @drill.user.icon_path, size: '56x56', alt: 'icon', class: 'user-icon' %>
  <div class="drill-use"><%= link_to @drill.user, @drill.user, class: "drill-user-name" %></div>

  <div class="drill-problem-count">
    このドリルの問題数:
    <%= problems_count = @drill.problems.count %>
  </div>

  <%= form_with url: "/solve/#{@drill.id}", method: "GET" do |f| %>

  <div class="drill-option">
    <%# f.label :rand, "ランダムに出題する: " %>
    <%# f.check_box :rand, {checked: true}, "true", nil %>

    <%= f.label :rand, "過去の回答に基づいて出題する" %>
    <%= f.check_box :rand, {checked: true}, "true", nil %>
  </div>

  <div class="drill-option">
    <div>問題数: </div>
    <%= f.select :num,  options_for_select(problem_count_select_list(problems_count)), {selected: [problems_count, 10].min.to_s}, class: "problem_number" %>
      <%# problem_count_select_list(problems_count).each do |c| %>
        <%#= content_tag(:option, c, value: c) %>
      <%# end %>
    <%# end %>
  </div>

  <div class="btn-box">
    <%= f.submit t("text.Solve_problems"), name: '', class: 'btn-std btn-big solve-btn' %>
  </div>
  <% end %>

  <% if Rails.env.development? %>
    <hr>
    <div style="font-size: 8">
      <%= link_to "編集する", edit_drill_path(@drill) %>
    </div>
  <% end %>
</div>
