<div class="panel grid">
  <div class="title-panel">
    <h1 class="drill-title"><%= @drill.title.presence || "無題" %></h1>
  </div>
  <div class="drill-guide"><%= simple_format(h(@drill.guide.presence || "説明文なし")) %></div>
  <%= image_tag @drill.user.icon_path, size: '56x56', alt: 'icon', class: 'a-user-icon' %>
  <div class="drill-use"><%= link_to @drill.user, @drill.user, class: "drill-user-name" %></div>

  <div class="drill-problem-count">
    このドリルの問題数:
    <%= problems_count = @drill.problems.count %>
  </div>

  <%= form_with url: "/solve/#{@drill.id}", method: "GET", class: "solve-drill-form" do |f| %>
    <div class="drill-option">
      <%# f.label :rand, "ランダムに出題する: " %>
      <%# f.check_box :rand, {checked: true}, "true", nil %>

      <%= f.label :rand, "過去の回答に基づいて出題する", class: "label"%>
      <%= f.check_box :rand, {checked: true, class: "random-option"}, "true", nil %>
    </div>

    <div class="drill-option">
      <div class="label problem-number-option-label">問題数: </div>
      <%= f.select :num,  options_for_select(problem_count_select_list(problems_count)), {}, class: "problem-number-option" %>
    </div>

    <div class="btn-box">
      <%= f.submit t("text.Solve_problems"), name: '', class: 'btn-std btn-big solve-btn' %>
    </div>
  <% end %>

  <%= @drill %>

  <% if current_user == @drill.user ||  %>
    <hr>
    <div style="font-size: 8">
      <%= link_to "編集する", edit_drill_path(@drill) %>
    </div>
  <% elsif current_user&.admin? %>
    <hr>
    <div style="font-size: 8">
    <%= link_to "管理者編集", edit_drill_path(@drill) %>
    </div>
  <% end %>
  <% if current_user&.admin? %>
    <%= link_to "problems", drill_problems_path(@drill) %>
  <% end %>
</div>

<%# @drill.problems.relation %>
