
<div class="panel form-panel">
  <h2 class="title"><%= t("word.login") %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-panel' } ) do |f| %>
    <div class="form-item">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-item--input" %>
    </div>

    <div class="form-item">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-item--input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-item">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions form-action-item">
      <%= f.submit t("word.login"), class: "form-action-btn" %>
    </div>
  <% end %>

  <div class="link-boxes">
    <%= render "devise/shared/links" %>
  </div>
</div>
