<p>
  パスワードを再設定するリクエストがありました。<br>
  次のリンク先でパスワードを新しく設定することができます。<br>
  <%= edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
■本メールに心当たりのない方へ<br>
他のユーザの方が間違えたメールアドレスを入力している可能性があります。<br>
上記URLにアクセスせず、メールを無視してください。<br>
</p>

---<br>
<p>
Brain Driller<br>
https://brain-driller.herokuapp.com<br>
</p>

<% if Rails.env.development? %>
   <br><br><br>
  【開発環境】
  <p>Hello <%= @resource.email %>!</p>

  <p>Someone has requested a link to change your password. You can do this through the link below.</p>

  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>

  http://localhost:3000
  <%= self %>
  <%= self.class %>
  <%= @user %>
  <% @resouce %>
  <%= self.instance_variables.sort %>
<% end %>
