<p>
  パスワードを再設定するリクエストがありました。<br>
  次のリンク先でパスワードを新しく設定することができます。<br>
  <% url = edit_password_url(@resource, reset_password_token: @token) %>
  <%= link_to url, url %><br>
</p>
<br>

<p>
■本メールに心当たりのない方へ<br>
他のユーザの方が間違えたメールアドレスを入力している可能性があります。<br>
上記URLにアクセスせず、メールを無視してください。<br>
</p>
<br>

-------------------------------------<br>
<p>
Brain Driller<br>
<% domain = 'https://brain-driller.herokuapp.com' %>
<%= link_to domain, domain %><br>
</p>

<% if Rails.env.development? %>
   <br><br><br>
  【開発環境】
  <p>Hello <%= @resource.email %>!</p>

  <p>Someone has requested a link to change your password. You can do this through the link below.</p>

  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>

  http://localhost:3000 <br>
  <%= self %><br>
  <%= self.class %><br>
  <%= @user.login_name %><br>
  <%= @_config %><br>
  <%= @resouce %><br>
  <%= @view_flow %><br>
  <%= @current_template %><br>
  <%= @scope_name %><br>
  <%= @tag_builder %><br>
  <%= self.instance_variables.sort %><br>
  [:@_assigns, :@_config, :@_controller, :@_devise_route_context, :@_lookup_context, :@_mail_was_called, :@_main_app, :@_message, :@_routes, :@current_template, :@devise_mapping, :@email, :@lookup_context, :@output_buffer, :@rendered_format, :@resource, :@scope_name, :@tag_builder, :@token, :@user, :@view_flow, :@view_renderer, :@virtual_path]
<% end %>
