<%# "Progateでは, header-logoクラスやheader-menusクラスを設けていた" %>
<%# "navbar-inverseは捨てる" %>
<!-- <header class="navbar navbar-fixed-top navbar-inverse"> -->

<%# Bootstrap 5 %>

<header class="navbar transparent sticky-top">
  <div class="container">
    <%= link_to "BrainDriller", root_path, class: "navbar-bland" %>
    <nav>
      <ul class="nav navbar-nav navbar-light">
        <li><%= link_to "トップ",   root_path %></li>
        <li><%= link_to t("word.help"),   "#help_path" %></li>
        <li><%= link_to "#人気タグ", "#tags_path" %></li>
        <% if Rails.env.development? %>
          <li><%= link_to "[開発]ドリル", drills_path %></li>
          <li><%= link_to users_path do %><i class="far fa-user"></i>[開発]ユーザー<% end %></li>
          <li><%= link_to users_path do %><i class="bi bi-align-center"></i>[開発]ユーザー<% end %></li>
        <% end %>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", user_path(current_user) %></li>
              <li><%= link_to "設定", edit_user_path(current_user)  %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("word.logout"), destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("word.login"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
