<nav class="navbar navbar-expand-sm navbar-light bg-light transparent sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand header__title" href="/drills">Brain Driller</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <ul class="navbar-nav d-flex no-wrap">
        <% if Rails.env.development? %>
          <% if current_user %>
          【開発】<%= current_user.email %>でログイン中
          <% end %>
        <% end %>
        <% if false %>
          <li class="nav-item"><%= link_to "トップ", root_path, class: "nav-link" %></li>
        <% end %>
        <% if user_signed_in? %>
          <li class="dropdown nav-item" >
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
              アカウント
            </a>
            <ul class="dropdown-menu">
              <% if current_user&.admin? %>
                <li class="nav-item"><%= link_to "プロフィール", user_path(current_user), class: "nav-link" %></li>
              <% end %>
              <li class="nav-item"><%= link_to "設定", edit_user_registration_path, class: "nav-link"  %></li>
              <li class="nav-item">
                <%= link_to t("word.logout"), destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t("word.login"), new_user_session_path, class: "nav-link", tabindex: "-1", aria_disabled: "true" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
