<!DOCTYPE html>
<html>
  <head>
    <title>BrainDriller</title>
    <%= render 'layouts/meta' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/labo' %>
  </body>
</html>
